/* list of all custom fonts */

.kanit-font {
    font-family: 'Kanit', sans-serif;
}
  
.praise-font {
    font-family: 'Praise', cursive;
}
  
.pacifico-font {
    font-family: 'Pacifico', cursive;
}

@font-face {
    font-family: harry-p;
    src: url('../assets/fonts/harry-p.TTF');
}

.harry-font {
    font-family: harry-p;
}
