/*
  * Social Buttons CSS Style Sheet
  ! on hover, each element color and transition is also controlled
*/

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
  padding: 10px;
}

.icon-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  border-radius: 30px;
  display: inline-block;
  margin: 4px;
}

.github {
  color: black;
}

.linkedin {
  color: #0077b5;
}

.icon-btn:hover {
  transform: scale(1.10);
  color: #FFFFFF;
}

.linkedin:hover {
  background-color: #0077b5;
}

.github:hover {
  background-color: black;
}
