/* custom font designs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.kanit-font {
  font-family: 'Kanit', sans-serif;
}

.praise-font {
  font-family: 'Praise', cursive;
}

.pacifico-font {
  font-family: 'Pacifico', cursive;
}

/* set style on specific tags */
.full-height {
  height: 95vh;
}

.overlay {
  background-color: rgba(90, 139, 123, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  width: 95%;
}

.intro-name {
  color: darkblue;
}

.all-center {
  /* horizontal and vertical center alignment */
  text-align: center;
  vertical-align: middle;
}

/* prevent sup and sub to affect line height */
/* https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -1.25em;
}

sub { 
  top: 0.4em; 
}

/* media elements for size and proportion */
@media (max-width: 2000px) {
  main {
    padding-left: 0px;
    padding-top: 28px;
  }

  .container {
    margin: auto;
  }

  /* 
    ! settings for main elements
  */

  #intro {
    background: url("assets/images/background.png");
  }

  /* set responsive font sizes */
  /* https://css-tricks.com/a-complete-guide-to-calc-in-css/ */
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }

  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }

  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }

  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  h5, .h5 {
    font-size: calc(1.25rem + 0.3vw);
  }

  .big-font-1 {
    font-size: calc(1.725rem + 5vw);
  }

  .big-font-2 {
    font-size: calc(1.625rem + 4.5vw);
  }

  .big-font-3 {
    font-size: calc(1.525rem + 3.5vw);
  }

  .big-font-4 {
    font-size: calc(1.425rem + 1.5vw);
  }

  .big-font-5 {
    font-size: calc(1rem + 1vw);
  }

  .big-font-5-center {
    text-align: center;
    font-size: calc(1rem + 1vw);
  }

  .reference {
    font-size: xx-small;
    color: darkblue;
  }
}