/* custom font designs */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Kanit:wght@300&display=swap');
.kanit-font{
  font-family: 'Kanit', sans-serif;
}

/* set style on specific tags */
.full-height {
  height: 100vh;
}

.overlay {
  background-color: rgba(90, 139, 123, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  width: 95%;
}

.intro-name {
  color: darkblue;
}

/* media elements for size and proportion */
@media (max-width: 1200px) {
  main {
    padding-left: 0px;
    padding-top: 64px;
  }

  .container {
    margin: auto;
  }

  /* set responsive font sizes */
  /* https://css-tricks.com/a-complete-guide-to-calc-in-css/ */
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }

  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }

  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }

  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  h5, .h5 {
    font-size: calc(1.25rem + 0.3vw);
  }

  .big-font-1 {
    font-size: calc(1.725rem + 5vw);
  }

  .big-font-2 {
    font-size: calc(1.625rem + 4.5vw);
  }

  .big-font-3 {
    font-size: calc(1.525rem + 3.5vw);
  }

  .big-font-4 {
    font-size: calc(1.425rem + 1.5vw);
  }
}