[submodule "Learning Platforms/Coursera Inc/Data Structures and Algorithms Specialization [UC San Diego]/Course 2 - Data Structures/linked_lists"]
	path = Learning Platforms/Coursera Inc/Data Structures and Algorithms Specialization [UC San Diego]/Course 2 - Data Structures/linked_lists
	url = https://gist.github.com/03f6f59aede5a058eeb5c3c57383d0bd.git
