[submodule "courses/coursera/dsa_ucsan/2_data_structure/linked_lists"]
	path = courses/coursera/dsa_ucsan/2_data_structure/linked_lists
	url = https://gist.github.com/03f6f59aede5a058eeb5c3c57383d0bd.git
